html {
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: #2f3132;
}

.App {
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
}
a {
  text-align: center;
  font-size: 3rem;
  color: #0bf6f6;
  text-decoration: none;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  width: 40rem;
  height: 5rem;

  border-radius: 63px;
  background: #2f3132;
  box-shadow: inset 0px 0px 4px 4px #000000, inset -1px -1px 11px 0px #faf7f7;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 40rem;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 12rem;
  background-color: rgb(14, 237, 245);
}

input {
  border-radius: 3rem;
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: rgb(0, 255, 242) solid 0.3rem;
  padding: 0 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;

  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  background: #0eecec;
  align-self: flex-end;
}
.received p {
  font-size: 1rem;
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

button {
  padding: ;
  border-radius: 4rem;
  font-size: 1.5rem;
  background-color: #0bf6f6;
}
