html {font-family: 'Sansita Swashed', cursive;
  font-size: 62.5%;
}

body {
  background-image: url("back.jpg");
}

.App {
  text-align: center;
  max-width: 30rem;
}
a {
  text-align: center;
  font-size: 4rem;
  color: #0bf6f6;
  text-decoration: none;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
  width: 40rem;
  height: 5rem;
  padding: 1vh 0 1vh;
  border-radius: 63px;

  box-shadow: inset 0px 0px 4px 4px #000000, inset -1px -1px 11px 0px #faf7f7;
}

main {
  padding: 10px;
  height: 75vh;
  min-width: 35rem;
  overflow-y: scroll;
  display: flex;

  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.3rem;
}

main::-webkit-scrollbar-track {
  background: #11ee11e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: relative;
  bottom: 0;

  width: 100%;
  max-width: 40rem;
  display: flex;
  font-size: 2rem;
}

form button {
  font-size: 2.5rem;
  border-radius: 40%;
  width: 12rem;
  background-color: rgb(14, 237, 245);
}

input {
  border-radius: 3rem;
  line-height: 1.5;
  width: 80%;
  font-size: 2rem;
  background-color: #282c34;
  color: white;
  outline: none;
  border: rgb(0, 255, 242) solid 0.3rem;
  padding: 0 10px;
}

button:disabled {
  border-radius: 40%;
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background-color: greenyellow;
  max-width: 400px;
  margin: 0 auto;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 22px;
  padding: 7px 20px;
  border-radius: 10px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  font-family: 'Sansita Swashed';
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background: #0bf636;
  align-self: flex-end;
}
.received p {
  font-family: 'Sansita Swashed';
  font-size: 1.5rem;
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
.App button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.App button {
  border-radius: 20%;
  background-color: #f9faf9; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.App button:hover {
  background-color: #08f308; /* Green */
  color: white;
  border-radius: 30%;
}
